#page-body {
  width: 90%;}
  

h1 {
  text-align:center;
}
body {background-color: #D8BFD8}

p {
  margin-left: 20px;
}

#mybanner {text-align: center;
width: 90%}


#nav-table {text-align: center;
  width: 90%
}

#nav-td {width: 200px; text-align:center}
