#page-body {
  width: 1024px;}

#intro-para {width: 1024px}

h1 {
  text-align:center;
}
#solid-background {background-color: #D8BFD8}

p {width: 1024px;
  margin-left: 20px;
}

#mybanner {text-align: center;
width: 1024px}


#nav-table {text-align: center;
  width: 1024px
}

#nav-td {width: 200px; text-align:center}

#me-and-porch {width: 10px;}

#me-and-pats {width: 10px;}
